doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Conspiracy Book
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css')
  link(rel='stylesheet' href='./css/login.css' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet')
.container.text-center
  img(src='./assets/cb-box-logo.png' alt='logo')
  div
    div
      input#usernameForm.form-control.txtBox(type='text' placeholder='Username')
    div
      input#passForm.form-control.txtBox(type='password' placeholder='Password')
    div
      button#loginBtn.btn.btn-secondary.mb-2.customBtn(action='/homepage' ,='' method='GET') Log In
      button.btn.btn-secondary.mb-2.customBtn( data-toggle='modal' data-target='#signUp') Create Account

<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Account('use real credentials')</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      form(action='/create-account' ,='' method='POST')
    .container
      form
        #usernameField
          input#username.form-control.txtBox(type='text', placeholder='Username', required='')
        #firstNameField
          input#fname.form-control.txtBox(type='text', placeholder='firstName', required='')
        #lastNameField
          input#lname.form-control.txtBox(type='text', placeholder='lastName', required='')
          #email
          input#email.form-control.txtBox(type='text', placeholder='email', required='')
        #passwordField
          input#password.form-control.txtBox(type='password', placeholder='Password', required='')
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="createAccount">Save changes</button>
      </div>
    </div>
  </div>
</div>

  script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  script(src='./js/login.js')